fastapi
uvicorn[standard]
pydantic
python-dotenv
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
pydantic-settings
alembic
httpx
loguru
openpyxl
redis>=5.0.0
pandas
python-docx
python-multipart
ffmpeg-python
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
cloudinary==1.41.0